@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto+Mono:wght@700&family=Rock+Salt&display=swap");

:root {
  --background: #666 radial-gradient(#00feba, #5b548a);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
}

html {
  line-height: 1.6;
  overflow: hidden;
}

body {
  font-family: "Antic Slab", serif;
  background: var(--background);
  height: 100vh;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 35%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 30px;
  width: auto;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.error {
  display: none;
  color: red;
  text-align: left;
  font-size: 14px;
  margin: 0 0 20px 75px;
  padding: 10px;
  max-height: 1em;
}

.weather-container {
  box-shadow: 10px 8px 16px 8px #4f4f4fb3;
  margin: 3rem;
  padding: 2rem 0rem 5rem 0rem;
  border-radius: 10px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

.condition-text {
  margin-top: -0.5em;
}

.temp {
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  height: 6rem;
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  max-width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 4px;
}

.sep {
  font-size: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: fixed;
  bottom: 0;
  font-family: inherit;
  text-align: center;
  width: 100%;
}

.footer-link,
a {
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  color: var(--background);
  font-size: 10px;
}

.fa-github {
  display: flex;
  justify-items: center;
  margin: 0px;
  font-size: 18px;
}
@media only screen and (min-width: 600px) {
  header {
    margin: 0;
  }

  .loader-container {
    left: 40%;
  }

  .error {
    text-align: center;
    margin-left: -8em;
  }

  .weather {
    margin: 0rem;
    padding: 0rem;
    height: 0rem;
  }

  .weather-container {
    margin: 1rem 10rem;
    padding: 0rem;
  }

  .first-row {
    margin: 0.25rem;
    font-size: 18px;
  }

  .temp {
    margin: 0;
  }

  .sep {
    font-size: 3em;
  }

  .footer-link,
  .footer-link:visited,
  .footer-link:link {
    text-decoration: none;
    text-shadow: var(--text-shadow);
    transition: all 0.2s ease-out;
  }

  .footer-link:hover,
  .footer-link:focus,
  .footer-link:active {
    text-decoration: underline;
    text-shadow: 0 0 0.2em #fff;
  }

  .fa-github {
    display: flex;
    justify-items: center;
    margin: 0;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
    filter: drop-shadow(0.15em 0.15em, 0.15em #000);
  }

  .fa-github:hover,
  .fa-github:focus {
    transform: rotate(720deg) scale(1.2);
    filter: drop-shadow(0 0 0.3em #fff);
  }
}
